In [ ]:
"""Things to do 11.1 and 11.2"""

#zoo.py File created

#Function within File Created
def hours():
    print('Open 9--5 daily')


#Interactive interpreter commands (Copy/Pasted from Interactive interpreter)

C:\Users\Mekle>cd C:\Users\Mekle\OneDrive\Desktop\Classwork\Advanced Python

C:\Users\Mekle\OneDrive\Desktop\Classwork\Advanced Python>python
Python 3.13.2 (tags/v3.13.2:4f8bb39, Feb  4 2025, 15:23:48) [MSC v.1942 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.
>>> import zoo
>>> zoo.hours()
Open 9--5 daily
>>> import zoo as menagerie
>>> menagerie.hours()
Open 9--5 daily
>>>

In [4]:
import sqlite3
import sqlalchemy as sa

#Creating Table
conn = sqlite3.connect("books.db")
cursor = conn.cursor()

cursor.execute("DELETE FROM books")

#Add Data into table
cursor.execute("INSERT INTO books VALUES (?, ?, ?)", ("That Book", "Mark Klein", 2025))
cursor.execute("INSERT INTO books VALUES (?, ?, ?)", ("That Other Book", "Mark Klein", 2025))

#Commit and closeout table modifying
conn.commit()
conn.close()

#Create engine with sqlalchemy
engine = sa.create_engine('sqlite:///books.db')

#logic to print all of the titles in first row
with engine.connect() as conn:
    rows = conn.execute(sa.text('SELECT title FROM books ORDER BY title'))
    for row in rows:
        print(row[0])

That Book
That Other Book